<div class="relative">
  <div class="mx-auto">
    <div class="relative overflow-hidden">
      <div class="absolute inset-0">
        <img class="w-full invisible lg:visible" src="https://images.unsplash.com/photo-1521791136064-7986c2920216?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738">
        <div class="absolute inset-0 lg:bg-gray-300 bg-gray-300" style="mix-blend-mode: multiply;"></div>
      </div>
      <div class="relative px-4 py-16 xl:py-72">
        <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
          <span class="block text-black lg:text-white">従量の登録が完了しました。</span>
        </h1>
        <p class="mt-6 max-w-lg mx-auto text-center text-xl text-gray-500 lg:text-white sm:max-w-3xl">
          ダッシュボードにて重量を確認してください。
        </p>
      </div>
    </div>
  </div>
</div>